
div.output {
  min-height: 110px;
  margin-top: 10px;
  width:100%;
  border-radius: 10px;
  border: #1e2310 1px;
}

.assistant {
  background-color: darkolivegreen;
  margin-right:3px;
  text-align: left;
}

.user {
  background-color: #207960;
  margin-left:3px;
  text-align: right;
}

.system {
  display: none;
}

pre.output {
  min-width:350px;
  max-width:100%;
  height:auto;
  margin-left:10px;
  margin-right:10px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  white-space: pre-wrap; /* Since CSS 2.1 */
  word-wrap: break-word; /* For IE 5.5+ and IE 6 */
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto; /* For Mozilla */
  -webkit-hyphens: auto; /* For Webkit */
  hyphens: auto;
}

img.portrait {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px 3px 5px 3px;
}

img.assistant {
  float: left;
}

img.user {
  float: right;
}

linked {
  display: none;
}
