@font-face {
  font-family: 'HACK';
  src: url('../assets/fonts/HackNerdFontPropo-Regular.ttf');
}
#user_input {
  background-color: darkcyan;
  color: white;
  font-weight: bolder;
  width:100%;
  border: 3px solid lightgray;
  border-radius: 15px;
  font-family: HACK;
  padding: 7px;
}

div.input_container {
  width:600px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  top: 15px;
}

div.outputbox {
  width:780px;
  max-width:780px;
  margin-top: 30px;
  height: 800px;
  scroll-behavior: smooth;
  overflow-scrolling: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  border: black solid 1px;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-family: HACK;
  padding: 30px;
  overflow-y: auto
}

select.models {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #a1615f;
  color: white;
  font-weight: bolder;
}

select.personas {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #5f88a1;
  color: white;
  font-weight: bolder;
}

img.spinner {
  height:10px;
  width:790px;
  border-radius: 5px 5px 5px 5px;
  padding-top:5px;
}

