
<select class="models" id="models" [(ngModel)]="selectedModel">
  @for ( model of model_array; track model.digest) {
    <option [value]="model.name">{{model.name}} ({{model.details.parameter_size}} / {{model.details.quantization_level}})</option>
  }
</select>

<div class="set_username">
  Your name:
  <input type="button" [value]="username" class="set_username" (click)="ClearUsername()">
</div>

<select class="personas" id="personas" [(ngModel)]="selectedPersona">
  @for ( p of personas; track p.name) {
    <option [value]="p.name">{{p.name}} : {{p.role}}</option>
  }
</select>

<div id="container">
  <div class="outputbox" id="history" onChange="ScrollDown()" #scrollContainer>
    @for ( msg of chat_history; track msg.index) {
      <chat_box [persona]="msg.persona" [role]="msg.role" [content]="msg.content" (change)="SetPersona('', true)"></chat_box>
    }
    <img src="../assets/images/loader.gif" id="spinner" class="spinner" *ngIf="spinnerState" />
  </div>
  <div class="input_container">
    <textarea #textInput autofocus="true" [disabled]="spinnerState" class="input_box" id="user_input" placeholder="Write here." (keyup)="KeyUp($event)" [(ngModel)]="user_input"></textarea>
    <audio  [src]="safeUrl" id="ttsPlayer" autoplay type="audio/wav" #TTSPlayer controls (volumechange)="SetTTSVolume()">
      Your browser does not support the audio element.
    </audio>
  </div>
  <app-username-popup id="uname_container" [showme]="showUsernamePopup"></app-username-popup>
</div>

<script language="JavaScript">
  function ScrollDown() {
    const container = document.getElementById('#history');
    container.scrollTop = container.scrollHeight - container.clientHeight;
  }
</script>

